{% extends 'base.html.twig' %}

{% block title %}Laure Chapert {% endblock %}

{% block body %}
    <ul id="languages">
        <li>
            <a href="{{ path(app.request.attributes.get('_route'), {_locale: 'fr'}) }}">
                <img class="flag" src="{{ asset('icons/fr-flag.svg') }}">
            </a>
        </li>
        <li>
            <a href="{{ path(app.request.attributes.get('_route'), {_locale: 'en'}) }}">
                <img class="flag" src="{{ asset('icons/uk-flag.svg') }}">
            </a>
        </li>
    </ul>

    <main id="main-content">
        <div class="homepage-title">
            <h1>Laure CHAPERT</h1>
            <p>{{ 'homepage_title'|trans }}</p>
        </div>
        <div role="icon" class="arrowToDownDiv">
            <img class="arrowToDown" src="{{ asset('icons/Arrow.svg') }}">
            <img class="arrowLine" src="{{ asset('icons/ArrowLine.svg') }}">
        </div>
    </main>

    <aside class="pages">
        <div class="nav-tabs">
            <div class="nav-tab about-tab active">
                <span class="text"> {{ 'navigation.about'|trans }} </span>
                <img class="arrow" src="{{ asset('icons/About.svg') }}">
            </div>
            <div class="nav-tab achievements-tab">
                <span class="text"> {{ 'navigation.achievements'|trans }} </span>
                <img class="arrow" src="{{ asset('icons/Achievements.svg') }}">
            </div>
            <div class="nav-tab contact-tab">
                <span class="text"> {{ 'navigation.contact'|trans }} </span>
                <img class="arrow" src="{{ asset('icons/Contact.svg') }}">
            </div>
        </div>
        <div class="page" id="aboutPage">
            <article id="about">
                <h1>{{ 'about_page.title'|trans }}</h1>
                <div class="aiPortrait">
                    <img class="desktop" src="{{ asset('images/AIPortraitSketch.jpg') }}" alt="Portrait de l'IA">
                </div>
                <div class="presentationText">
                    <p>{{ 'about_page.first_paragraph'|trans }}</p> <br>
                    <p>{{ 'about_page.second_paragraph'|trans }}</p> <br>
                    <p>{{ 'about_page.third_paragraph'|trans }}</p> <br>
                    <p class="imageCaption">{{ 'about_page.fourth_paragraph'|trans }}</p>
                </div>
            </article>
        </div>
        <div class="page" id="achievementsPage">
            <article id="achievements">
                <div class="splide" aria-labelledby="QuickMS">
                    <div class="splide__track">
                        <ul class="splide__list">
                            <li class="splide__slide">
                                <h1 class="projectTitle">Water Closest <span>{{ 'achievements_page.personal_project'|trans }}</span> </h1>
                                <div class="badges">
                                    <div class="badge backBadge">Symfony</div>
                                    <div class="badge frontBadge">React Native</div>
                                    <div class="badge frontBadge">Javascript Vanilla</div>
                                    <div class="badge frontBadge">Sass</div>
                                    <div class="badge environmentBadge">Docker</div>
                                    <div class="badge environmentBadge">Linux</div>
                                </div>
                                <p class="achievementsText">{{ 'achievements_page.water_closest_description'|trans }}</p>
                                <div class="projectImage">
                                    <img class="desktop" src="{{ asset('images/WaterClosestMoodbardDesktop.png') }}">
                                    <img class="mobile" src="{{ asset('images/WaterClosestMoodbardMobile.png') }}">
                                </div>
                            </li>
                            <li class="splide__slide">
                                <h1 class="projectTitle">Qrew <span>{{ 'achievements_page.professional_project'|trans }}</span> </h1>
                                <div class="badges">
                                    <div class="badge backBadge">Symfony</div>
                                    <div class="badge frontBadge">Vue JS</div>
                                    <div class="badge frontBadge">Javascript Vanilla</div>
                                    <div class="badge frontBadge">Sass / Bootstrap</div>
                                    <div class="badge environmentBadge">Docker</div>
                                    <div class="badge environmentBadge">Linux</div>
                                </div>
                                <p class="achievementsText">{{ 'achievements_page.qrew_description'|trans }}</p>
                                <div class="projectImage">
                                    <img class="desktop" src="{{ asset('images/QrewDesktop.png') }}">
                                    <img class="mobile" src="{{ asset('images/QrewMobile.PNG') }}">
                                </div>
                                <div class="badges">
                                    <a href="https://evanescent-find-18f.notion.site/QREW-c07579b7afb74416983a5f92b5ab93ed?pvs=74">
                                        <div class="badge showMore">{{ 'achievements_page.find_out_more'|trans }}</div>
                                    </a>
                                </div>
                            </li>
                            <li class="splide__slide">
                                <h1 class="projectTitle">Concert'O <span>{{ 'achievements_page.personal_project'|trans }}</span></h1>
                                <div class="badges">
                                    <div class="badge backBadge">Symfony</div>
                                    <div class="badge frontBadge">React / React Router</div>
                                    <div class="badge frontBadge">Javascript Vanilla</div>
                                    <div class="badge frontBadge">Sass</div>
                                    <div class="badge frontBadge">Bootstrap / ReactBootstrap</div>
                                </div>
                                <p class="achievementsText">{{ 'achievements_page.concerto_description'|trans }}</p>
                                <div class="projectImage">
                                    <img class="desktop" src="{{ asset('images/ConcertoDesktop.PNG') }}">
                                    <img class="mobile" src="{{ asset('images/ConcertoMobile.PNG') }}">
                                </div>
                                <div class="badges">
                                    <a href="https://evanescent-find-18f.notion.site/Concert-o-9e33e38887874db49650591d09c2010c?pvs=25">
                                        <div class="badge showMore">{{ 'achievements_page.find_out_more'|trans }}</div>
                                    </a>
                                </div>
                            </li>
                            <li class="splide__slide">
                                <h1 class="projectTitle">{{ 'achievements_page.first_portfolio'|trans}} <span>{{ 'achievements_page.personal_project'|trans }}</span></h1>
                                <div class="badges">
                                    <div class="badge backBadge">Laravel</div>
                                    <div class="badge frontBadge">Javascript Vanilla</div>
                                    <div class="badge frontBadge">CSS/Bootstrap</div>
                                </div>
                                <p class="achievementsText">{{ 'achievements_page.first_portfolio_description'|trans }}</p>
                                <div class="projectImage">
                                    <img class="desktop" src="{{ asset('images/PortfolioDesktop.PNG') }}">
                                    <img class="mobile" src="{{ asset('images/PortfolioMobile.PNG') }}">
                                </div>
                                <div class="badges">
                                    <a href="https://evanescent-find-18f.notion.site/Premier-Portfolio-51db66b3381f4a8f86781f6b97416088?pvs=4">
                                        <div class="badge showMore">{{ 'achievements_page.find_out_more'|trans }}</div>
                                    </a>
                                </div>
                            </li>
                            <li class="splide__slide">
                                <h1 class="projectTitle">{{ 'achievements_page.second_portfolio'|trans}} <span>{{ 'achievements_page.personal_project'|trans }}</span></h1>
                                <div class="badges">
                                    <div class="badge backBadge">Symfony</div>
                                    <div class="badge frontBadge">Javascript Vanilla</div>
                                    <div class="badge frontBadge">CSS</div>
                                </div>
                                <p class="achievementsText">{{ 'achievements_page.second_portfolio_description'|trans }}</p>
                                <div class="projectImage">
                                    <img class="desktop" src="{{ asset('images/PalettesDesktop.PNG') }}">
                                    <img class="mobile" src="{{ asset('images/PalettesMobile.PNG') }}">
                                </div>
                                <div class="badges">
                                    <a href="https://evanescent-find-18f.notion.site/Portfolio-Actuel-d8d871a5ca87461c9f4166354aa9b0ed?pvs=4">
                                        <div class="badge showMore">{{ 'achievements_page.find_out_more'|trans }}</div>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </article>
        </div>
        <div class="page" id="contactPage">
            <div class="overlay"></div>
            <article>
                {{ render_esi(url('contact')) }}
            </article>
        </div>
        <div class="arrowToUpDiv">
            <img class="arrowToUp" src="{{ asset('icons/ArrowToUp.svg') }}">
        </div>
    </aside>

{% endblock %}

