{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur mon portfolio !{% endblock %}

{% block body %}
    <div data-controller="hello"></div>
    <main id="main-content">
        <div class="homepage-title">
            <h1>Laure CHAPERT</h1>
            <p>Développeuse web full-stack</p>
        </div>
        <div role="icon" class="arrowToDownDiv">
            <img class="arrowToDown" src="{{ asset('icons/Arrow.svg') }}">
            <img class="arrowLine" src="{{ asset('icons/ArrowLine.svg') }}">
        </div>
    </main>

    <aside class="pages">
        <div class="nav-tabs">
            <div class="nav-tab about-tab active">
                <span class="text"> A propos </span>
                <img class="arrow" src="{{ asset('icons/About.svg') }}">
            </div>
            <div class="nav-tab achievements-tab">
                <span class="text"> Réalisations </span>
                <img class="arrow" src="{{ asset('icons/Achievements.svg') }}">
            </div>
            <div class="nav-tab contact-tab">
                <span class="text"> Contact </span>
                <img class="arrow" src="{{ asset('icons/Contact.svg') }}">
            </div>
        </div>
        <div class="page" id="aboutPage">
            <article>
                <h1>Bienvenue dans mon univers numérique ! </h1>
                <p>Développeuse web full-stack, je souhaite donner vie à vos projets et transformer vos visions en réalités digitales.
                Mon objectif est de comprendre vos besoins et ceux des clients afin de développer des solutions web sur mesure et de garantir la satisfaction de tous. Ma sensibilité
                pour l'accessibilité et l'UX/UI permet de concevoir des interfaces agréables à tous les utilisateurs. Rendre le web accessible à tous est une ambition
                qui me passionne et me tient particulièrement à coeur ! </p> <br>
                <p>Musicienne et curieuse, la créativité constitue une part essentielle de ma vie et cette sensibilité artistique se reflète dans mon travail,
                    où je m'efforce toujours de trouver des solutions esthétiques pour chaque projet dès sa naissance et jusqu'à ses potentielles évolutions.</p> <br>
                <p>Je suis impatiente de discuter avec vous de vos idées et de travailler ensemble pour les concrétiser. Merci de visiter mon portfolio; j'ai hâte de collaborer avec vous !</p>
            </article>
        </div>
        <div class="page" id="achievementsPage">
            <article id="achievements" class="splide" aria-labelledby="QuickMS">
                <div class="splide__track">
                    <ul class="splide__list">
                        <li class="splide__slide">
                            <h1 class="projectTitle">QuickMS</h1>
                            <div class="badges">
                                <div class="badge backBadge">Symfony</div>
                                <div class="badge frontBadge">Vue JS</div>
                                <div class="badge environmentBadge">Docker</div>
                                <div class="badge environmentBadge">Linux</div>
                            </div>
                            <p class="achievementsText">Qrew est une plateforme logicielle tout-en-un conçue pour faciliter la communication et la gestion des ressources humaines au seins des entreprises. Il offre une solution permettant
                                de renforcer le lien entre les RH, managers et collaborateurs, permettant de simplifier des processus clés tels que les entretiens, les rendez-vous RH et la gestion des compétences.
                                Sur Qrew, je fus développeuse web full-stack. </p>
                            <div class="projectImage">
                                <img class="qrew" src="{{ asset('images/QrewDashboard.png') }}">
                            </div>
                        </li>
                        <li class="splide__slide">Slide 02</li>
                        <li class="splide__slide">Slide 03</li>
                    </ul>
                </div>
            </article>
        </div>
        <div class="page" id="contactPage">
            <div class="overlay"></div>
            <article>
                {{ render_esi(url('contact')) }}
            </article>
        </div>
        <div class="arrowToUpDiv">
            <img class="arrowToUp" src="{{ asset('icons/ArrowToUp.svg') }}">
        </div>
    </aside>

{% endblock %}
