{% extends 'base.html.twig' %}

{% block title %}Hello HomePageController!{% endblock %}

{% block body %}
    <main>
        <div class="homepage-title">
            <h1>Laure CHAPERT</h1>
            <p>Développeuse web full-stack</p>
        </div>
        <div role="icon">
            <img class="arrow" src="{{ asset('icons/Arrow.svg') }}">
            <img class="arrowLine" src="{{ asset('icons/ArrowLine.svg') }}">
        </div>
    </main>

    <div class="presentation-cards">
        <div class="tab presentation-tab">
            <img src="{{ asset('icons/About.svg') }}">
            <span class="dis"></span>
        </div>
        <div class="tab achievements-tab">
            <img src="{{ asset('icons/Achievements.svg') }}">
        </div>
        <div class="tab contact-tab">
            <img src="{{ asset('icons/Contact.svg') }}">
        </div>
    </div>

{% endblock %}
