{% block body %}
    <div class="contact">
        <div class="contactForm">
            <h1>{{'contact_page.send_me'|trans}}</h1>
            <div class="form-container">
                <div id="flashbag-container" class="hidden"></div>
                {{ form_start(form, {'action': path('sendEmail'), 'attr': {'id': 'contact-form'}}) }}
                <div class="form-group">
                    {{ form_label(form.fullName, 'contact_page.name'|trans, {'label_attr': {'class': 'controlLabel'}}) }}
                    <br>
                    {{ form_widget(form.fullName, {'attr': {'class': 'form-control transparentInput'}, 'required': true}) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.email, 'contact_page.email'|trans, {'label_attr': {'class': 'controlLabel'}}) }}
                    <br>
                    {{ form_widget(form.email, {'attr': {'class': 'form-control transparentInput'}, 'required': true}) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.message, 'contact_page.message'|trans, {'label_attr': {'class': 'controlLabel'}}) }}
                    <br>
                    {{ form_widget(form.message, {'attr': {'class': 'form-control transparentInput'}, 'required': true}) }}
                </div>
                <div class="form-group">
                    <input type="submit" value="{{ 'contact_page.send'|trans }}" class="btn btnSubmit">
                </div>
                {{ form_end(form) }}
            </div>
        </div>
        <div class="linksPart">
            <h1>{{'contact_page.name'|trans}} :</h1>
            <div class="contactLinks">
                <div class="contactLink">
                    <a href="https://www.linkedin.com/in/laurechapert/">
                        <img class="linkedin" src="{{ asset('icons/Linkedin.svg') }}">
                        <span>Linkedin</span>
                    </a>
                </div>
                <div class="contactLink">
                    <a href="mailto:laure.chapert@gmail.com">
                        <img class="email" src="{{ asset('icons/Email.svg') }}">
                        <span>Email</span>
                    </a>
                </div>
                <div class="contactLink">
                    <img class="phone" src="{{ asset('icons/Contact.svg') }}">
                    <span>{{'contact_page.phone'|trans}} : 06 51 72 57 52</span>
                </div>
            </div>
        </div>
    </div>

{% endblock %}